{# empty Twig template #}



    <!-- Primary navigation -->

{%block navegador1%}{%endblock%}
    
    <!-- barra navegacion 2 -->
 <nav id="secondary">
    
      <ul>
{%block navegador2%}{%endblock%}
</ul>
      
      <div id="notifications">
        <ul>
        </ul>
      </div>
    </nav> 
