{# empty Twig template #}


<h1>Activation account!!!</h1>

<p>
You have created your user account Just2 to activate your user account follow this link:
</p>

<a href="http://www.just2test.ioio.com.au/userActive/{{user.email}}/{{user.codeActivation}}"></a>
