
{# JVJsoftware CRUD-Symfony2- #}
{% extends 'JVJPlantillaBundle::base.html.twig' %}

{%block titulo %}Nuevo User{%endblock%}

{%-block nav2%}{%- include 'JVJPlantillaBundle::Navegador2/backend.html.twig' with {'menu':'User'}%}{%- endblock%}
{%- block contenido %}

<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="box">
        <div class="box-header"><h1>{{block('titulo')}}</h1></div>
        <div class="box-content">
    {{ form_widget(form) }}
            </div>
            <div class="action_bar">
                <button class="button blue" type="submit"><span class="glyph inbox"></span>Guardar</button>
                                        

            </div>
        </div>
    </form>
{%endblock%}
